<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>미션 완료 여부 파악을 위한 이미지를 제출하기 위해 알쓸SWU잡이 카메라에 접근하려고 합니다</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>dicSWUnary</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dicSWUnary</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>온글잎 안될과학유니랩장체.ttf</string>
		<string>neodgm_code.ttf</string>
		<string>온글잎 안될과학약체.ttf</string>
		<string>tway_sky.ttf</string>
		<string>tway_air.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
